<%- include('../partials/header.ejs') %>
<div class="text-center" id="mainDiv">
        <h1><%=currentUser.username.toUpperCase()%>'S SECRET DIARY</h1>
        <% ideas.forEach((idea)=>{ if(idea.author.id.equals(currentUser._id)){%>
            <h3><%= idea.title %></h3>
            <a href="/ideas/<%= idea._id %>" class="btn btn-light">Read More</a>
            <hr>
        <%}})%>
        <a href="/ideas/new" class="btn btn-info my-3">Add a new Chapter</a>
</div>
<%- include('../partials/footer.ejs') %>